

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #ffffff, #3f80e1, #24c7ff);
}

.navbar .logo {
  margin: 0;
  height: auto;
}

.icon-bar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-bar a {
  text-align: center;
  padding: 40px 40px;
  color: #f1fbfe;
}

.container {
  display: flex;
  background-color: #f2f2f2;
}

.container-1 {
  height: 130px;
  display: flex;
  background-color: #f2f2f2;
}

.card {
  display: flex;
  width: 20%;
  padding: 12px;
  margin: 20px;
  background-color: #f9f9f9;
  color: #3f80e1;
  box-shadow: 1px 1px 5px #757575;
}

#div1 {
  background-color: #757575;
  width: 16%;
  height: 45px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  align-items: center;
}

#div1 a {
  margin-top: 20px;
  position: absolute;
}

#div2 {
  background-color: #757575;
  width: 24%;
  height: 45px;

  color: #ffffff;
}
#div2 a {
  text-align: center;
  color: black;
  margin-top: 50px;
  text-decoration: none;
  background-color: #c8c8c8;
  padding: 5px;
}

#div3 {
  background-color: #757575;
  width: 70%;
  height: 45px;
  text-align: center;
  color: #ffffff;
}
#div3 a {
  margin-top: 6px;
  text-align: center;
  color: #d1d1d1;
  align-items: center;
  padding: 10px 30px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#footer a {
  text-decoration: none;
  color: #757575;
  display: flex;
  align-items: center;
  width: 50%;
  margin-top: 10px;
  margin-left: 30px;

  position: absolute;
}

#foot {
  float: right;
  text-align: center;
  align-items: center;
  margin-right: 40px;
  margin-bottom: 10px;
}

